.carrossel__titulo {
    color: var(--laranja);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0 ;
    font-family: var(--fonte-principal);

}

.swiper-slide_img {
    width: 100%;

}

.swiper-button-prev,  .swiper-button-next {
    display: none;

}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    font-family: var(--fonte-principal);
    justify-content: space-between;
    margin: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}


.botoes {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgb(0, 0, 0 , 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}


.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0 ;
    border-bottom: 1em;
}

.descricao__texto {
    font-size: 14px;
    font-family: var(--fonte-principal);

}

.botoes__item {
    margin: 0 0.5em ;
}

.botoes__ancoras {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    font-family: var(--fonte-principal);

}


.segundo__carrossel-titulo {
    color: var(--laranja);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0 ;
    font-family: var(--fonte-principal);

}


@media  screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 36px;
    }
    

    .swiper-pagination {
        margin: 2em 0 3em 0 ;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,  .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 3em auto;
    }


}


@media screen and (min-width: 1200px) {
    .carrossel__container {
        display: flex;
        margin: 0 13px 1em 13px ;
        align-items: center;
        
    }

    .swiper-pagination {
        margin: 1em 0;
    }
    
    .swiper {
        width: 50%;
    }

    .descricao__titulo {
        font-size: 28px;
    }

    .descricao__texto {
        font-size: 16px;
    }

    .descricao {
        margin-right: 2em;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }
    

}













