
.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho_menu-hamburguer {
    background-image: url(../img/menu_black_24dp\ 1.svg);
    
}

.container__botao:checked ~.container__rotulo {
    background: var(--azul-degrade);
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    margin: 1em;
}


.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vh;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu_titulo,
.lista-menu_item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 1000;

}

.lista-menu__link {
    color:#002F52;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    background-clip: text ;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    text-decoration: none;
}


.container__botao {
    display: none;
}


.container__titulo {
    display: none;
   
}

.opcoes{
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
   .container__titulo,
   .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
   }


    .container__titulo{
        font-weight: 400;
        display: block;
        padding: 0 1em;

    }


    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        font-family: var(--fonte-secundaria);
        text-transform: uppercase;

    }

    .opcoes__item {
        padding: 0 1.5em ;
        text-transform: uppercase;
    
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }


    .cabeçalho_menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto; 
        
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu_item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu_item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}


@media screen and (min-width: 1200px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }


    .cabeçalho {
        padding: 0  1.5em;
    }

    .opcoes {
        margin-right: auto;
    }
    
    .container__texto {
        display: block;
    }
}